.main text {
    text-anchor: middle;
    dominant-baseline: central;
}
.self {
    fill: #5BC49F;
}
.out {
    fill: #60ACFC;
}
.lines path {
    stroke-width: 20;
}
.active > .main circle:not(:hover) {
    opacity: 0.15;
}