.main {
  position: relative;
  display: contents;
}
.main > div:first-child {
  width: 100%;
  height: 100%;
}

.skg {
  position: absolute;
  top: 8px;
  left: 4.75%;
}
.skg-block {
  display: flex;
  justify-content: space-between;
}
.skg-block > div {
  display: inline-block;
  padding: 0 10px;
  border-radius: 8px;
  background-color: #f1f3f4;
}
.skg-ptr {
  position: absolute;
  top: 0;
  width: 50px;
  height: 21px;
  border-radius: 8px;
  background-color: #40a9ff;
  mix-blend-mode: multiply;
  transition: transform 0.25s ease-in-out;
  pointer-events: none;
}
