@import "../../app.less";

.ct-controls {
  position: absolute;
  right: 15px;
  bottom: 15px;
  transition: 0.6s ease-in-out;
  &.active {
    > .cc-button {
      > svg {
        transform: rotate(180deg);
      }
    }
  }
  &:not(.active) {
    > .cc-panel {
      transform: scale(0);
    }
    > .cc-subpanel {
      transform: scaleX(0);
    }
  }
  > div {
    border-radius: 10px;
    background-color: wheat;
    transition: inherit;
  }
  > .cc-button {
    display: flex;
    padding: 5px;
    z-index: 2;
    > svg {
      width: 30px;
      height: 30px;
      transition: inherit;
    }
  }
  > .cc-panel {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 10px 15px 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    transform-origin: right bottom;
    > .cp-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;
    }
  }
  > .cc-subpanel {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transform-origin: right;
    &::after {
      content: "";
      width: 30px;
    }
    svg {
      width: 28px;
      height: 28px;
    }
    > .cp-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px;
    }
  }
}

.cp-switch {
  &.active {
    > .cs-container {
      background-color: @active-blue;
      > .cs-slider {
        transform: translateX(20px);
      }
    }
  }
  > .cs-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: #cdcdcd;
    > .cs-slider {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin: 2px;
      background-color: white;
      transition: transform 0.15s linear;
    }
  }
}
