.main {
    position: relative;
}

.main::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -10px;
    top: -10px;
    border: 10px transparent solid;
    border-radius: 10px;
}

.active::after {
    animation: active 0.8s linear both;
}

.inactive::after {
    animation: inactive 0.8s linear both;
}

@keyframes active {
    from {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    40% {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 100% 0, 0 0, 50% 50%, 50% 50%);
    }
    60% {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 100% 0, 0 0, 0 100%, 50% 50%);
    }
    to {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 100%, 100% 100%, 100% 0, 0 0, 0 100%, 50% 100%);
    }
}

@keyframes inactive {
    from {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%, 0 0, 50% 0);
    }
    33% {
        border-color: black;
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0, 0 0);
    }
    66% {
        border-color: black;
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 100%);
    }
    to {
        border-color: black;
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
    }
}