.main {
    height: calc(100% - 64px);
}

.container {
    display: flex;
}

.graph {
    min-width: 1000px;
    width: calc(100% - 400px);
}
.graph > div {
    height: calc(100% - 50px);
}

.right {
    width: 400px;
}