.as-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #1890ff;
  }
}

.as-logo {
  height: 36px;
  margin: 12px;
  background: center / contain no-repeat url(../sign/logo.png);
}
